@import url(./__item/__item.css);

.photo-grid {
  width: calc(100% - 48px - 48px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  justify-content: center;
  justify-items: center;
  align-items: start;
  margin:92px auto 0px;
  /* border: 1px solid red; */
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: calc(100% - 24px - 24px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    margin-top: 88px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    width: calc(100% - 16px - 16px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
    margin-top: 64px;
  }
}
