@import url(./__logo/__logo.css);
@import url(./__lang-link/__lang-link.css);
@import url(./__lang-link/_item/_item.css);

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: calc(100% - 48px - 48px);
  min-height: 52px;
  margin: 28px auto 0px;
  /* border: 1px solid green; */
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .header {
    min-width: calc(100% - 24px - 24px);
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .header {
    min-width: calc(100% - 16px - 16px);
    min-height: 42px;
    margin-top: 16px;
  }
}


