.footer__link {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s linear 0s;
}

.footer__link:hover {
opacity: 0.8;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
