.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
}

.place__paragraph:last-of-type {
  margin-top: 24px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
  }
}
