.intro__text {
  max-width: 690px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  line-height: 26px;
  margin: 40px 0px 0px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    max-width: 100%;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .intro__text {
    max-width: 100%;
  }
}
