@import url(./__title/__title.css);
@import url(./__text/__text.css);
@import url(./__list/__list.css);
@import url(./__list/_item/_item.css);

.intro {
  width: calc(100% - 148px - 148px);
  margin: 92px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid yellow; */
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    width: calc(100% - 48px - 48px);
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: calc(100% - 24px - 24px);
    margin-top: 88px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .intro {
    width: calc(100% - 16px - 16px);
    margin-top: 64px;
  }
}
