.cover__title {
  font-size: 72px;
  font-weight: 900;
  color: #FFFDFD;
  line-height: 76px;
  max-width: 560px;
  margin: 20% 0px 0px;
  z-index: 2;
  text-align: center;
  position: absolute;
  align-self: center;
  /* border: 1px solid green; */
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    /* margin-top: 195px; */
    margin-top: 20%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    /* margin-top: 115px; */
    margin-top: 15%;
  }
}

@media all and (min-width: 500px) and (max-width: 767px) {
  .cover__title {
    margin-top: 19%;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}

@media all and (min-width: 320px) and (max-width: 499px) {
  .cover__title {
    margin-top: 11%;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
