@import url(./__nav/__nav.css);
@import url(./__links/__links.css);
@import url(./__links-item/__links-item.css);
@import url(./__link/__link.css);
@import url(./__copyright/__copyright.css);

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: calc(1280px - 48px - 48px);
  margin: 92px auto 24px;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    min-width: calc(100% - 24px - 24px);
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    min-width: calc(100% - 24px - 24px);
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: calc(100% - 16px - 16px);
    margin: 64px auto 24px;
  }
}
