.place__url-heading {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  color: #aaa;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .place__url-heading {
    display: none;
  }
}
